body {
    padding-left: 2%;
    margin-bottom: 20px;
    background-image: url("travelform-background.png");
    background-repeat: no-repeat;
    background-size: cover; /* Ensures the image covers the div */
    background-position: center; /* Centers the image */
    height: 100vh; 
}

  input, select{
    display: block;
    margin-bottom: 15px;
}
input[type="checkbox"]{
    display: inline;
    accent-color: red;
}
input[type="radio"]{
    display: inline;
    accent-color: red;
}
button{
    display: block;
}
    h4{
        color: red;
    }
span{
    color: red;
}
button[type="submit"]{
    background-color: red;
    color: white;
    width: 10%;
    padding: 10px;
    border-radius: 5px;
   border-color:white;
}